body {
	background-image: url('/static/img/bg.png');
	background-repeat: repeat;
    text-shadow: 0 1px 4px rgba(150, 150, 150, 0.5);
    color: #4d4d4f;
    font-family: 'Open Sans', sans-serif;

    animation: fadein 400ms;
    -moz-animation: fadein 400ms;
    -webkit-animation: fadein 400ms;
    -o-animation: fadein 400ms;
}

#denied {
    color: red;
}

#pending {
    color: #FF8833;
}

#accepted {
    color: green;
}

.navbar {
    position: fixed;
    width: 99%;
}

.navbar ul {
    list-style-type: none;
    margin: 0 !important;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    box-shadow: 4px 1px 15px 1px;
}
  
.navbar li {
    float: left;
}
  
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 90%;
    letter-spacing: 1.4px;
}

.specialp {
    font-size: 90%;
    color: white;
    padding-right: 1%;
}
  
.navbar li a:hover:not(.active) {
    background-color: grey;
}
  
.active {
    background-color: rgb(190, 61, 61);
}

.navbar li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
  
.navbar li a:hover, .dropdown:hover .dropbtn {
    background-color: grey;
}
  
.navbar li.dropdown {
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #383838;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    animation: fadein 400ms;
    -moz-animation: fadein 400ms;
    -webkit-animation: fadein 400ms;
    -o-animation: fadein 400ms;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

a {
  color: #0d9ce0;
  text-decoration: none;
}

a:hover {
  color: #787d88;
  text-decoration: underline;
}

.box {
    background: rgb(255,255,255);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #D3D7CF;
}

input[type="text"], input[type="number"], input[type="password"], input[type="email"], textarea, select {
    border-style: solid;
    resize: vertical;
    overflow: auto;
    background: #ffffff;
    border-top-color: grey;
    border-right-color: grey;
    border-bottom-color: grey;
    border-left-color: grey;
    border-radius: 3px;
    padding: 3px;
}

/* This is for the search box */
.searchresults {
    display: block;
    visibility: hidden; /* search.js changes this */
    min-width: 13em;
    padding: 2px;
    margin-left: 7%;
    background-color: #3f3f3f;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    top: 40px;
}

.searchresults a, .searchresults ul, .searchresults li, .searchresults p {
    /* stop inheriting the fucking navbar css god damn it! */
    padding: 0 !important;
}

.searchfield {
    display: inline-block;
    position: relative;
    padding-top: 0.6em;
}

.searchbox {
    background: #444 !important;
    border-color: #303030 !important;
    color: lightgray;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}