{% extends 'base.html' %}
{% load static fuckyouzach humanize %}

{% block head %}
<link rel="stylesheet"  href="{% static "css/view_writeup.css" %}" />
<title>Nereus Staff | {{ application.username|getname }}'s Application</title>
{% endblock %}

{% block body %}
<div class="content">
	{# XXX: remove center tags #}
	<center>
		<div class="bg-text-top">
			<h2> {{ writeup.owner|getname }}'s write-up on {{ writeup.suspect|getname }}</h2>
		</div>
	</center>
	<div class="bg-text box">
		{# This page is rendered with 1 writeup object from  #}
		{# apps/staffmgmt/models.py and all fields are accessable to it #}
		THINGS ARE HAPPENING!
	</div>
</div>
{% endblock %}