{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet"  href="{% static "css/apply.css" %}" />
{% endblock %}

{% block body %}
<div class="content">
	<div class="bg-text-top">
		<h1> Nereus Staff Application Form </h1>
	</div>
	<div class="app-box box">
		<h2>Application Submitted</h2>
		<p>Your application has been submitted, You will receive a response within 10 days where you will be informed if you continue the interview process or are denied.</p>
	</div>
</div>

{% endblock %}