{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet"  href="{% static "css/view.css" %}" />
<title>Nereus Staff | Index</title>
{% endblock %}

{% block body %}
<div class="content"><center>
		<div class="bg-text-top">
				<h2> {{ application.GetName }} ({{ application.username.username }})'s Staff Application </h2>
			</div></center>
	<div class="bg-text box">
	<h3>Background Information</h3>
		<div class="item"><span class="label">Username:</span> {{ application.username.username }}</div>
		<div class="item"><span class="label">Real Name:</span> {{ application.GetName }}</div>
		<div class="item"><span class="label">Country:</span> {{ application.country }}</div>
		<div class="item"><span class="label">Email:</span> {{ application.username.email }}</div>
		<div class="item"><span class="label">Date Applied:</span> {{ application.datetime | date }}</div>
		<div class="item"><span class="label">In-Game Name:</span> {{ application.ign }}</div>
		<div class="item"><span class="label">Age:</span> {{ application.age }}</div>
		<div class="item"><span class="label">Gender:</span> {{ application.gender }}</div>
		<div class="item"><span class="label">Discord handle:</span> {{ application.discord }}</div>
		<br/>
		<div class="item"><span class="label">Has microphone:</span> {{ application.microphone | yesno }}</div>
		<div class="item"><span class="label">Can Screenshare:</span> {{ application.Screenshare | yesno }}</div>
		<div class="item"><span class="label">Time Dedication:</span> {{ application.get_timededication_display }}</div>
		<br/>
	<h3>All About You</h3>
		<span class="label">Is there anything specific that inspired you to want to join the staff team?</span><br/>
		{{ application.hirereason }}<br/>
		<br/>
		<span class="label">A player has begun an argument with another player and now they are both arguing in the chat constantly. What do you do?</span><br/>
		{{ application.scenario1 }}<br/>
		<br/>
		<span class="label">A player has found a bug and they have continued to abuse the bug without telling any staff. What do you do?</span><br/>
		{{ application.scenario2 }}<br/>
		<br/>
		<span class="label">A player has been caught scamming others for in-game items causing other players to get annoyed and toxic in the chat. What do you do?</span><br/>
		{{ application.scenario3 }}<br/>
	</div>
</div>
{% endblock %}