{% extends 'base.html' %}
{% load static %}

{% comment %}
For more info on how Django forms work, look at this link.
https://docs.djangoproject.com/en/2.1/topics/forms/#customizing-the-form-template
{% endcomment %}

{% block head %}
<link rel="stylesheet"  href="{% static "css/login.css" %}" />
<title>Password Reset</title>
{% endblock %}

{% block body %}
<div class="content">
	<div class="bg-text box">
		<h2>Password Change Complete</h2>
		<p>Your password has been updated successfully!<br/>
		You can now try to <a href="{% url 'account:login' %}">login</a> with your new password.
		</p>	
	</div>
</div>
{% endblock %}